/* 기본 theme */
:root {
  --font_family-default: 'Inter', -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
    sans-serif;

  --color-black: #000000;
  --color-white: #ffffff;
}

/* 기기 기본 설정에 따른 다크모드 설정을 원하는 경우 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-black: #ffffff;
    --color-white: #000000;
  }
} */

/* 다크모드 클래스 설정 또는 미디어쿼리에 따라 다른 테마 설정 예시 */
/* :root .dark {
  --color-black: #ffffff;
  --color-white: #000000;

  @media screen and (max-width: 1080px) {
    --padding-default: 16px;
  }
} */